.condition {
	font-weight: 650 !important;
	font-size: 16px !important;
	/* border-radius: 0.25rem; */
}

.Dry,
.Hero {
	/* background-color: #28a745 !important;
	color: white !important; */
	color: #28a745 !important;
	/* width: 90px; */
}

.Tacky {
	/* background-color: rgb(255, 187, 0) !important;
	color: white !important; */
	color: rgb(255, 187, 0) !important;
	/* width: 90px; */
}

.Muddy,
.Wet {
	/* background-color: #e61d1d !important;
	color: white !important; */
	color: #e61d1d !important;
	/* width: 90px; */
}

.Unknown {
	color: rgb(161, 160, 160) !important;
	/* background-color: white !important; */
	/* color: black !important; */
	/* width: 90px; */
}

.tablerow {
	padding-left: 40px !important;
}

#dropdown-basic {
	padding-top: 1px;
	padding-bottom: 1px;
}

.trailUpdated,
.comments {
	font-size: 14px !important;
}

.commentIcon {
	font-size: 20px;
}

.commentIcon:hover,
.commentBox:hover {
	cursor: pointer;
}

.commentDiv {
	font-size: 12px;
	font-style: italic;
}

.commentBox {
	background-color: white;
	width: 100%;
	height: 40px;
	border-radius: 0.25rem;
}

.commenter {
	/* font-weight: 700; */
	text-decoration: underline;
}

.comment {
	font-size: 12px;
	font-style: normal;
	font-weight: 750;
	padding-bottom: 4px;
}

.trailName2 {
	font-size: 14px;
	font-weight: 800;
}
/* .tableTrailReport:hover {
	cursor: pointer;
} */

/* #dropdown-basic.condition {
	font-weight: 600 !important;
} */
