.list-view {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-top: 3.05rem !important;
}

.true {
	color: #28a745;
}

.unknown {
	color: rgb(161, 160, 160);
}

.false {
	color: #e61d1d;
}

.trailStatus {
	font-weight: 650;
	font-size: 14px;
}

.trailName {
	font-weight: 800;
}

.trailUpdated,
.trailDistance {
	font-size: 14px;
}

.trailRow:hover {
	cursor: pointer;
}

@media (max-width: 991px) {
}
