.jumbotron {
	background-image: url(./background.jpg);
	background-size: cover;
	background-position-y: center;
}

.display-4 {
	color: white !important;
	font-family: 'Fjalla One', sans-serif;
	font-size: 64px !important;
	text-decoration: none !important;
}

.search-row {
	/* margin-top: 35px; */
}
/* .display-4:hover {
	opacity: 70%;
	cursor: pointer;
} */
