.jumbotron {
	background-image: url(./sendit.jpg);
	background-size: cover;
	background-position-y: center;
	/* background-position-y: -150px; */
	/* height: 40vh; */
}

.display-4 {
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bolder;
}
