.nav-link {
	color: white !important;
}
.nav-links > li {
	padding-left: 35px;
	padding-right: 35px;
	display: inline;
	text-shadow: 5px 5px 10px #000000;
}

.nav-link {
	display: inline-block;
	vertical-align: middle;
	padding: 3px !important;
}

.nav-link:hover {
	border-radius: 0.25rem;
	background-color: white;
	color: black !important;
	text-shadow: none;
	opacity: 0.8;
}

@media (max-width: 1199px) {
	.nav-links > li {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

@media (max-width: 414px) {
	.nav-links > li {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	a.nav-link {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
