.nav-link {
	color: white !important;
	/* outline: white; */
	/* opacity: 70%; */
}
.nav-links > li {
	padding-left: 25px;
	padding-right: 25px;
	display: inline;
	text-shadow: 5px 5px 10px #000000;
}

.nav-link {
	display: inline-block;
	vertical-align: middle;
}

.nav-link:hover {
	border-radius: 0.25rem;
	background-color: white;
	color: black !important;
	text-shadow: none;
	opacity: 0.8;
}

@media (max-width: 1199px) {
	.nav-links > li {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

@media (max-width: 414px) {
	.nav-links > li {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	a.nav-link {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
