.about-img {
	width: 85%;
	margin-top: 40px;
}

/* .inez-pic {
	width: 100%;
}

a img {
	display: none;
}
a:hover img {
	display: block;
} */

/* .aboutheaderone,
.aboutheadertwo {
	font-size: 54px;
	font-family: 'Fjalla One', sans-serif;
}

.aboutheaderone {
	display: none !important;
} */

.body-container {
	min-height: 65vh !important;
}

.header {
	font-size: 54px;
	font-family: 'Fjalla One', sans-serif;
}

@media (max-width: 1199px) {
	.header {
		font-size: 36px;
	}
}

/* @media (max-width: 1199px) {
	.aboutheaderone,
	.aboutheadertwo {
		font-size: 36px;
	}
} */

@media (max-width: 991px) {
	.about-img {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	/* .aboutheadertwo {
		display: none !important;
	}
	.aboutheaderone {
		display: block !important;
	} */
}

@media (max-width: 575px) {
	.about-text {
		padding-left: 15px;
		padding-right: 15px;
	}
}
