.about-img {
	width: 80%;
	margin-top: 40px;
}

.header {
	font-size: 54px;
	font-family: 'Fjalla One', sans-serif;
}

@media (max-width: 1199px) {
	.header {
		font-size: 36px;
	}
}

@media (max-width: 991px) {
	.about-img {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.header {
		display: none !important;
	}
}
