.about-img {
	width: 85%;
	margin-top: 40px;
}

.header {
	font-size: 54px;
	font-family: 'Fjalla One', sans-serif;
}

.about1 {
	display: none;
}

a:hover {
	color: #007bff !important;
}

@media (max-width: 1199px) {
	.header {
		font-size: 36px;
	}
}

@media (max-width: 991px) {
	.about-img {
		width: 60%;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.about1 {
		display: block;
	}
	.about2 {
		display: none;
	}
}

@media (max-width: 575px) {
	.about-text {
		padding-left: 15px;
		padding-right: 15px;
	}
}
