input.form-control {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.mapsearch {
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 400px;
	z-index: 10;
}

.mapsearch input {
	padding: 0.5rem;
	/* font-size: 1.5rem; */
	width: 100%;
}

form.mapsearch {
	display: none;
}

@media (max-width: 991px) {
	form.mapsearch {
		display: block;
	}
	.form-control {
		display: inline !important;
	}
}

/* @media (max-width: 1199px) {
.search-form {
  width: 250px! important;
}
} */

@media (max-width: 414px) {
	input.search-form {
		width: 200px !important;
	}
}
