input.form-control.search-form {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 20vw !important;
}

.mapsearch {
	position: absolute;
	top: 0.35rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.mapsearch input {
	padding: 0.5rem;
}

form.mapsearch {
}

@media (max-width: 991px) {
	form.mapsearch {
		top: 0.05rem;
	}
	input.form-control.search-form {
		display: inline !important;
		height: 33px !important;
		width: 60vw !important;
	}
}

@media (max-width: 414px) {
	input.search-form {
	}
}
