.Dry,
.Hero {
	background-color: #28a745 !important;
	color: white !important;
	width: 90px;
}

.Tacky {
	background-color: rgb(255, 187, 0) !important;
	color: white !important;
	width: 90px;
}

.Muddy,
.Wet {
	background-color: #e61d1d !important;
	color: white !important;
	width: 90px;
}

#dropdown-basic {
	padding-top: 1px;
	padding-bottom: 1px;
}
