.address:hover {
	cursor: pointer;
	/* text-decoration: underline; */
	color: #28a745;
}

.fa-spin {
	display: block;
}

.wheel {
	width: 35px;
}

.loading {
	width: 50vw;
}

.viewTrailsLink {
	display: none;
	font-size: 14.5px;
	cursor: pointer;
	color: #007bff;
}

.viewTrailsLink:hover {
	text-decoration: underline;
}

.Toastify__toast-container--bottom-left {
	/* position: relative !important; */
}

@media (max-width: 991px) {
	.viewTrailsLink {
		display: block;
	}
}
