.viewTrailsLink {
	font-size: 14.5px;
	cursor: pointer;
	color: #007bff;
}

.viewTrailsLink:hover {
	text-decoration: underline;
}

.address:hover {
	cursor: pointer;
	/* text-decoration: underline; */
	color: #28a745;
}
