.address:hover {
	cursor: pointer;
	/* text-decoration: underline; */
	color: #28a745;
}

.markerlabel {
	font-size: 3px;
}

.fa-spin {
	display: block;
}

.wheel {
	width: 35px;
}

.list {
	position: absolute;
	top: 0.75rem;
	left: 1rem;
	background: none;
	border: none;
	z-index: 10;
}

.loading {
	width: 50vw;
}

.viewTrailsLink {
	/* display: none; */
	font-size: 14px;
	cursor: pointer;
	color: #007bff;
}

.viewTrailsLink:hover {
	text-decoration: underline;
}

@media (max-width: 991px) {
	.viewTrailsLink {
		/* display: block; */
	}
}
