.navsearchbar {
	width: 35vw !important;
	height: 80% !important;
}

.mobileview {
	display: none !important;
}

.circle-back-nav {
	color: white !important;
	font-size: 32px;
}

.circle-back {
	/* padding-left: 5px !important; */
	background-color: transparent !important;
	border-color: transparent !important;
}

@media (max-width: 991px) {
	.mobileview {
		display: inline-flex !important;
		width: 100vw;
	}
}
