.footer {
	/* background-color: rgb(248, 248, 248); */
	background-color: white;
	/* margin-bottom: 0;
	padding-top: 12px;
  padding-bottom: 0.5px; */
	margin-top: 5px;
	/* position: fixed; */
	/* padding: 10px 10px 0px 10px; */
	/* bottom: 0;
	width: 100%; */
	/* Height of the footer*/
}
