ul {
	padding-inline-start: 0 !important;
}

.fa-linkedin,
.fa-github,
.fa-instagram,
.fa-envelope {
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 36px;
	text-align: center;
	text-decoration: none;
	color: black;
	width: 40px;
	height: 40px;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-instagram:hover,
.fa-envelope:hover {
	text-decoration: none;
	color: green;
}

.menu li {
	display: inline;
}

.menu {
	margin: 0 !important;
}

.header {
	font-size: 54px;
	font-family: 'Fjalla One', sans-serif;
}

@media (max-width: 1199px) {
	.header {
		font-size: 36px;
	}
}
