.selectedTrail {
	font-size: 28px;
	font-weight: 800;
}

.message {
	font-size: 56px !important;
	font-weight: 800;
}

.trailCard {
	border-radius: 0 !important;
}

.trailImg {
	height: 25vh !important;
	object-fit: cover;
	width: 100%;
	background-position: center;
}

.card-title {
	font-size: 24px !important;
	font-weight: 800 !important;
	position: absolute !important;
}

.circle-back {
	color: black !important;
	font-size: 24px;
}

.circle-back:hover {
	color: darkgray !important;
	cursor: pointer;
}

.weatherimg {
	width: 85%;
}

.detailRow {
	color: #a1a09f;
	font-size: 14px;
	font-style: italic;
	/* font-weight: 600; */
}

.trailToggled {
	font-size: 14px;
	font-style: italic;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.conditionRow:hover {
	cursor: pointer;
}

.fa-angle-up,
.fa-angle-down {
	font-size: 16px;
	color: black;
}

.trailStatus2 {
	font-weight: 650;
}

@media (max-width: 1199px) {
	.selectedTrail {
		font-size: 28px;
	}
	.message {
		font-size: 48px !important;
	}
}
