.header {
	font-size: 56px !important;
	font-weight: 800;
}

.help-header {
	cursor: pointer;
	color: #007bff;
}

.help-header:hover {
	cursor: pointer;
	color: #007bff;
	text-decoration: underline;
}

.trailforks {
	width: 100%;
}

.google,
.ios {
	width: 100%;
	/* padding-left: 15px; */
}

@media (max-width: 1199px) {
	.header {
		font-size: 48px;
	}
}

@media (max-width: 991px) {
	.googlediv {
		margin-top: 25px;
	}
}
