.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 12;
	top: 0;
	right: 0;
	background-color: #101010;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	font-family: 'Montserrat', sans-serif;
}

.sidenav ul {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	transition: 0.3s;
}

.sidenav li:hover {
	color: grey;
}

/* a.nav-link {
	color: white !important;
	font-weight: 600;
} */

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	text-decoration: none;
}

.hamburger-icon {
	padding-left: 24px;
	font-size: 30px;
	cursor: pointer;
	/* color: white; */
}

.navbar {
	background-color: #101010;
	height: 8vh !important;
}

.navbarTitle {
	display: none;
	color: white !important;
	font-family: 'Fjalla One', sans-serif;
	font-size: 36px !important;
	text-decoration: none !important;
	top: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}

.circle-back-nav {
	color: white !important;
	font-size: 32px;
	padding-top: 8px;
}

.circle-icon {
	color: white !important;
	cursor: pointer;
}

/* .mobileview {
	display: none !important;
}

@media (max-width: 991px) {
	.mobileview {
		display: inline-flex !important;
		width: 100vw;
	}
} */

/* .navsearchbar {
	width: 40vw !important;
} */
