.navbar {
	background-color: #101010;
	height: 8vh !important;
}

.navbarTitle {
	display: none;
	color: white !important;
	font-family: 'Fjalla One', sans-serif;
	font-size: 36px !important;
	text-decoration: none !important;
	top: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}

.circle-back-nav {
	color: white !important;
	font-size: 32px;
	padding-top: 5px;
}

.circle-icon {
	color: white !important;
	cursor: pointer;
}
