.form-control {
	width: 300px !important;
	opacity: 0.8;
	outline: none !important;
}
.searchbtn {
	color: #fff !important;
	background-color: #6fbb44 !important;
	border-color: #6fbb44 !important;
	font-weight: 900;
}
