.search-form {
	width: 300px !important;
	opacity: 0.8;
	outline: none !important;
	margin-left: 120px !important;
}

@media (max-width: 1199px) {
	.search-form {
		width: 250px !important;
	}
}

@media (max-width: 991px) {
	.search-form {
		margin-left: 0 !important;
	}
}
